#root {
  margin: 0 auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 50%;
}

small {
  padding: 30px;
  font-size: 1.4rem;
  width: 90%;
  text-align: center;
}

.webcam {
  border-radius: 12px;
  width: 100%;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 70%;
  gap: 10px;
  margin: 14px 0 30px 0;
}

button {
  cursor: pointer;
  border-radius: 8px;
  padding: 8px;
  color: #fff;
  font-size: 1rem;
  background-color: #be256f;
  box-shadow: 0 2px 5px rgba(255, 0, 130, 0.5);
  border: none;
  width: 100%;
}